body {
  background-color: yellow;
}

h1 {
  color: red;
}

body ul li a {
  color: white;
}

ul li a {
  color: green;
}

li a {
  color: white;
}

a {
  color: pink;
}

/* vysledna hodnota h1 bude prepisana na zelena */
h1,
p {
  color: green;
}

ul {
  /* plna ohranicena ciara, biela 20px hruba */
  border: 20px solid white;
  background-color: black;
  height: 180px;
  width: 200px;
}