.linka {
  /* zlty kruzok s okrajom */
  display: block;
  position: relative;
  border-radius: 50px;
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background-color: yellow;
  margin: 50px auto;
  /* animacie */
  transform: rotate(90deg);
  /* nazov keyframe "akoby som si nazvala funkciu" */
  animation: rotuj 2.5s linear infinite;
}

.linka::after {
  /* ::after = selektor vlozi nieco za obsah kazdeho vybraneho prvku */
  position: absolute;
  content: ":)";
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 50px;
}

/* viem robit animacie */
@keyframes rotuj {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
